<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
		<listener
			class-name="com.demoautomatizacion.test.utils.Listeners.TestListener" />
	</listeners>
	
	
<test name="Login">
		<classes>
			<class name="com.demoautomatizacion.test.LoginTest" />
		</classes>
	</test>
	

<test name="Login">
		<classes>
			<class name="com.demoautomatizacion.test.DemoBlazeTest" />
		</classes>
	</test>

	
</suite>